$tablet-width: 768px;
$desktop-width: 1024px;
$lightgrey: #f2f2f2;
$red: #cc1c00;

$header-height-mobile: 44px;
$header-height-tablet: 50px;
$header-height-desktop: 70px;

$container-side-padding-mobile: 16px;
$container-side-padding-tablet: 24px;
$container-side-padding-desktop: 24px;

$container-padding-top-mobile: 16px;
$container-padding-top-tablet: 24px;
$container-padding-top-desktop: 24px;

$container-fix-margin-mobile: 0 -8px;
$container-fix-margin-tablet: 0 -8px;
$container-fix-margin-desktop: 0 -12px;

$sticky-top-mobile: 66px;
$sticky-top-tablet: 74px;
$sticky-top-desktop: 94px;
