@import "./utils/variables";

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;

  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
